.button{
    color: $primaryColor;
    border: 1px solid $primaryColor;
    background: white;
    border-radius: 5px;
    padding: 6px 8px;
    cursor: pointer;
    transition: opacity .3s;
    font-size: .8em;

    &.primary{
        background: linear-gradient(45deg, $primaryColor, lighten($primaryColor, 10%));
        // background: $primaryColor;
        color: $primaryTextColor;
    }
    &.error{
        border: 1px solid $errorColor;
        background: $errorColor;
        color: $primaryTextColor;
    }

    &:hover{
        opacity: .7;
    }

    &[disabled]{
        opacity: .5;
        cursor: not-allowed;
    }
}