// #44617b
$primaryColor: #3A2E39;
$errorColor: #F15152;
$successColor: #1E555C;
$warnColor: #EDB183;
$primaryTextColor: white;


$descFontSize: .9;
$descFontSizeWithUnit: #{$descFontSize}em;
$tagFontSize: .8;
$tagFontSizeWithUnit: #{$tagFontSize}em;

$themeLightest: white;
$themeLight: #fafafa;
$themeDark: whitesmoke;
$themeDarker: lightgray;
$themeDarkest: dimgray;